@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background: #eefff8;
}

.wrapper {
  width: 330px;
  padding: 2rem 1rem;
  margin: 50px auto;
  background-color: #fff;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}

h1 {
  font-size: 2rem;
  color: #0c1f00;
  margin-bottom: 1.2rem;
}

form input,
form select {
  width: 92%;
  outline: none;
  border: 1px solid #fff;
  padding: 12px 20px;
  margin-bottom: 15px;
  border-radius: 20px;
  background: #e4e4e4;
}

form input[type="number"] {
  text-align: center;
}

button {
  font-size: 1rem;
  margin-top: 1.8rem;
  padding: 10px 0;
  border-radius: 20px;
  outline: none;
  border: none;
  width: 90%;
  background: rgb(17, 143, 32);
  color: #fff;
  cursor: pointer;
}

button:hover {
  background: rgba(17, 143, 32, 0.8);
}

input:focus {
  border: 1px solid rgb(192, 192, 192);
}

.error-message,
.message {
  margin-top: 20px;
  border-radius: 10px;
  padding: 10px;
}

.error-message {
  background: rgb(255, 190, 190);
}

.error-message ul {
  list-style-type: none;
}

.error-message li {
  margin: 7px;
}

.message {
  background: rgb(183, 255, 183);
}
